
/*BEGIN Xbox One Controller Styling*/
.controller.xbox {
    background: url(https://imgur.com/aoN3I3Q.png);
    height: 351px;
    width: 750px;
    /*    margin-left: -375px;
        margin-top: -285px;*/
}

.xbox.white {
    background: url(xbox-assets/base-white.svgz);
}

.xbox.disconnected {
    background: url(xbox-assets/disconnected.svgz);
}

.xbox.disconnected div {
    display: none;
}

.xbox .triggers {
    position: absolute;
    width: 153px;
    height: 156px;
    top: 20px;
    left: 430px;
}

.xbox .trigger {
    position: absolute;
    background: url(https://imgur.com/spxwqiR.png);
    width: 48px;
    height: 48px;
    opacity: 0;
}

.xbox .trigger.left {
    background-position: -49px 0;
    top: 113px;
    right: -6px;
}

.xbox .trigger.right {
    background-position: 0 0;
    top: 99px;
    left: 23px;
}

.xbox .bumpers {
    position: absolute;
    width: 153px;
    height: 156px;
    top: 20px;
    left: 430px;
}

.xbox .bumper {
    position: absolute;
    background: url(https://imgur.com/BuFHIfW.png);
    width: 48px;
    height: 48px;
    opacity: 0;
}

.xbox .bumper.pressed {
    background-position-y: 0px;
    margin-top: 0px;
    opacity: 1;
}

.xbox .bumper.left {
    background-position: -49px 0;
    top: 18px;
    right: -9px;
}

.xbox .bumper.right {
    background-position: 0 0;
    top: 6px;
    left: 23px;
}

.xbox .quadrant {
    position: absolute;
    background: url(xbox-assets/quadrant.svgz);
    height: 45px;
    width: 45px;
    top: 258px;
    left: 354px;
    z-index: 0;
}

.xbox .p0 {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.xbox .p1 {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.xbox .p2 {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.xbox .p3 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.xbox .arrows {
    position: absolute;
    width: 141px;
    height: 33px;
    top: 264px;
    left: 306px;
}

.xbox .back, .xbox .start {
    background: url(xbox-assets/start-select.svgz);
    width: 33px;
    height: 33px;
    opacity: 0;
}

.xbox .back.pressed, .xbox .start.pressed {
    opacity: 1;
}

.xbox .back {
    background-position: 33px 0px;
    float: left;
    transform: translate(380px, -187px);
}

.xbox .start {
    float: left;
    transform: translate(346px, -3px);
}

.xbox .abxy {
    position: absolute;
    width: 153px;
    height: 156px;
    top: 0px;
    left: 250px;
}

.xbox .button {
    position: absolute;
    background: url(xbox-assets/abxy.svgz);
    width: 48px;
    height: 48px;
}

.xbox .button.pressed {
    background-position-y: -48px;
    margin-top: 0px;
    opacity: 1;
}

.xbox .a {
    background-position: 0 0;
    top: 60px;
    left: 26px;
}

.xbox .b {
    background-position: -49px 0;
    top: 155px;
    left: 21px;
}

.xbox .x {
    background-position: -98px 0;
    top: 119px;
    right: 0px;
}

.xbox .y {
    background-position: 48px 0;
    left: 109px;
    top: 24px;
}

.xbox .sticks {
    position: absolute;
    width: 371px;
    height: 196px;
    top: 239px;
    left: 144px;
}

.xbox .stick {
    position: absolute;
    background: url(xbox-assets/stick.svgz);
    background-position: -85px 0;
    height: 0px;
    width: 0px;
}

.xbox .stick.pressed {
    background-position: 0 0;
}

.xbox .stick.left {
    top: 0;
    left: 0;
}

.xbox .stick.right {
    top: 113px;
    left: 288px;
}

.xbox .dpad {
    position: absolute;
    width: 110px;
    height: 111px;
    top: 40px;
    left: 20px;
}

.xbox .face {
    background: url(xbox-assets/dpad.svgz);
    position: absolute;
    opacity: 0;
}

.xbox .face.pressed {
    opacity: 1;
}

.xbox .face.up {
    background-position: 34px 0;
    left: 220px;
    top: 223px;
    width: 34px;
    height: 56px;
}

.xbox .face.down {
    left: 98px;
    bottom: 41px;
    width: 34px;
    height: 56px;
}

.xbox .face.left {
    background-position: 0 -93px;
    width: 55px;
    height: 35px;
    top: 25px;
    left: 0;
}

.xbox .face.right {
    background-position: 0 -57px;
    width: 55px;
    height: 35px;
    top: 67px;
    right: -112px;
}

.xbox.half {
    margin-top: -315px;
}

.xbox {
    background: no-repeat center;
}

/*END Xbox One Controller Styling*/
